
/* ==========================================================================
 * Simone Bertuccioli
 *
 * Default layout for less capable mobile browsers at less than 480px 
   ========================================================================== */
.hero-unit {
  text-align: center;
  margin-bottom: 10px;
  text-shadow: 1px 1px 2px #ffffff, 1px 1px 5px #000000;
  -webkit-box-shadow: 1px 1px 2px rgba(51,51,51,.5);
  -moz-box-shadow: 1px 1px 2px rgba(51,51,51,.5);
  box-shadow: 0px 1px 2px rgba(51,51,51,.5);
  text-shadow: 0px 1px 1px rgba(255,255,255,.85);
  border: 1px solid #ffffff;
  background: url(../img/albers/albers.png) fixed;
  background: url(../img/albers/black.png) fixed 20% 0,
	url(../img/albers/lgrey2.png) fixed -40% 0,
	url(../img/albers/lgrey1.png) fixed 40% 0,
    rgba(230, 230, 230,.9);
  }
.hero-unit h1 {
  color: #000;
  font-size: 3em;
}
.hero-unit h2 {
    font-size: 1.6em;
  }
.img-rounded {
  text-align: center;
}
.img-rounded img {
  -webkit-border-radius: 4px; 
  -moz-border-radius: 4px; 
  border-radius:  4px;
}
#credits {
  text-align: center;
  margin: 0 auto;
  color: #ffffff;
  background-color: #009999;
  background-color: rgba(0,153,153,.9);
  -webkit-animation: pulse 240s infinite alternate;
  -webkit-border-radius: 20px; 
  -moz-border-radius: 20px; 
  border-radius:  20px;
  padding: 3px 10px;
  text-shadow: 1px 1px 5px #000000, 1px 1px 1px #666666;
}
p.backtotop span {
  background: #009999;
  background: rgba(0,153,153,.9);
  -webkit-animation: pulse 240s infinite alternate;
}
footer a {
  color: #ffffff;
}
footer a:hover {
  text-decoration: none;
	color: #ffffff;
}
#socialLinks {
  text-align: center;
}
#socialLinks li {
  list-style:none;
  display:inline;
}
/* 
 * Menu
 *******************************************************************************/
 @-webkit-keyframes pulse {
      0% {background-color: #009999;background-color: rgba(0,153,153,.9);}
     25% {background-color: #333399;background-color: rgba(51,51,153,.9);}
     50% {background-color: #990000;background-color: rgba(153,0,0,.9);}
     75% {background-color: #ffcc00;background-color: rgba(255,204,0,.9);}
     100% {background-color: #339933;background-color: rgba(51,153,51,.9);}
}
.navbar-inverse .navbar-inner {
  background: #009999;
  background: rgba(0,153,153,.9);
  -webkit-animation: pulse 240s infinite alternate;
  -webkit-box-shadow: 0 1px 3px rgba(0,0,0,.25), inset 0 -1px 0 rgba(0,0,0,.1);
  -moz-box-shadow: 0 1px 3px rgba(0,0,0,.25), inset 0 -1px 0 rgba(0,0,0,.1);
  box-shadow: 0 1px 3px rgba(0,0,0,.25), inset 0 -1px 0 rgba(0,0,0,.1);
}
.navbar-inverse .brand {
  color: #ffffff;
  text-shadow: 1px 1px 5px #333333;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
.navbar-inverse a.brand:hover {
  color: #666666;
  text-shadow: -1px -1px 2px #ffffff, -1px 1px 2px #eeeeee, 1px -1px 2px #eeeeee, 1px 1px 2px #ffffff;
}
@media only screen and (min-width: 480px) {
  .hero-unit h1 {
    font-size: 4em;
  }
  .hero-unit h2 {
    font-size: 2em;
  }
}
@media only screen and (min-width: 768px) {
  .hero-unit h1 {
    font-size: 6em;
  }
}
@media only screen and (min-width: 980px) {
  .hero-unit h1 {
    font-size: 8em;
  }
}
